:root {
  --rulers-offset: 24px;
  --ruler-height: 2px;
  --ruler-color: #000;
  /* otherwise the max цшвер is the width of the element */
  --ruler-max-width: 200px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Avenir;
  font-size: 32px;
}

h1 {
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    height: var(--ruler-height);
    width: 100%;
    max-width: var(--ruler-max-width);
    top: calc(50% - var(--ruler-height) / 2);
    right: calc(100% + var(--rulers-offset));
    background-color: var(--ruler-color);
  }
  &::after {
    right: auto;
    left: calc(100% + var(--rulers-offset));
  }
}